	body {
			background-color: #659DBD;
		}
		h1 {
			font-size: 33pt;
			font-family: Acme;
			color: white;
			text-align: center;
		}
		h2 {
			font-size: 22pt;
			font-family: 'IBM Plex Serif', serif;
			font-family: 'Varela Round', sans-serif;
			color: white;
		}
		h3 {
			font-size: 18pt;
			text-align: center;
			font-family: 'Varela Round', sans-serif;
		}
		li {
			color: black;
			font-size: 16pt;
			font-family: 'IBM Plex Serif', serif;
			font-family: 'Varela Round', sans-serif;
		}
		p {
			font-size: 14pt;
		}

		ol {
			font-size: 14pt;
		}
		a {
			color: white;
		}